body {
  background: #000;
  color: #ccc
}

.card{
  background: #32323b;
  color: #ccc;
  border-color: transparent;
}

.login-button{
  background: #fbc337;
  color: #24242b;
  border-color: transparent;
  border-radius: 3px;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  
}

.login-button:hover{
  background-color: #fbc337c0;
}

a{
  color: #ccc
}

a:hover{
  color: #fbc337;
}