.navbar-container {
  height: 64px;
  width: 100%;
  background-color: #32323b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 32px;

}

.navbar-brand img {
  height: 48px;

}

.navbar-profile img{
  height: 64px;
  width: 64px;
  border-radius: 50%;
}