button{
  border-color: transparent;
  border-radius: 3px;
}

button:hover{
  background-color: #aaa;
  transition: ease-in-out;
}

#google-icon{
  padding: 0.2rem;
  width: 48px;
  height: 48px;
}

